// DEFAULT THEME -----------------------------------

body {
    color: $color-regentgray;
    background-color: $color-shark;
}

h1,
h2 {
    color: $color-puertorico;
}

input {
    color: $color-regentgray;
    background-color: transparent;
    border-color: $color-puertorico;

    &:invalid {
        color: $color-mojo;
    }
}

button {
    color: $color-regentgray;
    background-color: $color-outerspace;

    &:hover {
        color: $color-puertorico;
        background-color: $color-abbey;
    }

    &:disabled {
        color: $color-abbey;
        background-color: $color-outerspace;
    }
}

a,
.a {
    border-color: $color-heater;
}

a {
    &:link,
    &:visited {
        color: $color-heater;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color-puertorico;
    }
}

.a {
    &:hover {
        color: $color-puertorico;
    }
}

.actionGif {
    border-color: $color-abbey;
}

.money {
    color: $color-geebung;
}

.record {
    .title {
        color: $color-shipcove;
    }

    .artist {
        color: $color-indigo;
    }

    .format {
        color: $color-truev;
    }
}

.sys {
    color: $color-heater;
}

.warning {
    color: $color-mojo;
}

.playerName {
    color: $color-puertorico;
}
