body,
input,
button {
    font-family: 'Share Tech', sans-serif;
    letter-spacing: 1px;
}

body {
    font-size: 12px;
    font-weight: normal;
    padding: 15px;
}

h1,
h2 {
    font-size: 12px;
}

p {
    margin-bottom: 10px;
}

input,
button {
    font-size: 13px;
    padding: 7px;
}

input {
    border-bottom: 1px dotted;
}

button {
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

    &.ctrlProgress {
        font-size: 36px;
    }
}

// Initially hide the app. Will be set to 'block' in .main() if data-uikey="app" is also set.
#app { display: none; }

// Just set the dimensions and other stuff here. Initial background-image will be set in .main().
.actionGif {
    width: 120px;
    height: 90px;
    border: 2px solid;
    margin-bottom: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.money {
    &:after {
        content: '◈';
    }
}

.important {
    font-size: 13px;
}
