body,
input,
button {
    font-family: 'Share Tech', sans-serif;
    letter-spacing: 1px;
}

body {
    font-size: 12px;
    font-weight: normal;
    padding: 15px;
}

h1,
h2 {
    font-size: 12px;
}

p {
    margin-bottom: 10px;
}

input,
button {
    font-size: 13px;
    padding: 7px;
}

input {
    border-bottom: 1px dotted;
}

button {
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;

    &.ctrlProgress {
        font-size: 36px;
    }
}

.actionGif {
    border: 2px solid;
    margin-bottom: 10px;
}

.important {
    font-size: 13px;
}
