body,
input,
button {
    font-family: 'Share Tech', sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
}

body {
    padding: 15px;
}

p {
    margin-bottom: 10px;
}

input {
    padding: 7px;
    border-bottom: 1px dotted;
}

button {
    font-weight: 700;
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;

    &.ctrlProgress {
        font-size: 36px;
    }
}
