$font-main: 'Share Tech', sans-serif;

$color-puertorico:  #4FC6AB;
$color-regentgray:  #838E99;
$color-abbey:       #535B61;
$color-outerspace:  #30353A;
$color-shark:       #212529;

$color-truev:       #896DD0;
$color-indigo:      #4F69C6;
$color-shipcove:    #6D7FBE;
$color-heater:      #B6C1CB;

$color-geebung:     #C99A1C;
$color-mojo: #ca483e;
